<form action="/events" method="PATCH">
  <input type="text" name="name" required>
  <input type="date" name="date" required>
  <input type="time" name="startTime" min="00:00" max="23:99" required>
  <input type="time" name="endTime" min="00:00" max="23:99" required>
  <input type="text" name="description">
  <button type="submit">Create new event</button>
</form>