<div class="container">
    <header>
        <ul class="nav-list flex">
            <li class="nav-left">
                <a href="/calendar" class="no-color-change">{{workGroup}}Calendar</a>
            </li>
            <div class="nav-right">
                <li class="nav-list-item"><a href="/users">Group Members</a></li>
                <li class="nav-list-item"><a href="/events">Shifts & Events</a></li>
                <li class="nav-list-item"><a href="/profile">Profile</a></li>
                {{!-- <li class="nav-list-item"><a href="/logout">Logout</a></li> --}}

            </div>
        </ul>
    </header>

    <div class="event_page_background">
        <div class="new_event_wrapper">
            <div class="event_wrapper">
                <h1 class="headline-title">Create Event</h1>

                <div class="list_wrapper_form">
                    <form action="/events" method="POST">

                        <div class="group">
                            <label for="name">Name</label>
                            <input type="text" name="name" required>
                        </div>

                        <div class="group">
                            <label for="date">Date</label>
                            <input type="date" name="date" required>
                        </div>

                        <div class="group">
                            <label for="startTime">Start Tine</label>
                            <input type="time" name="startTime" min="00:00" max="23:99" required>
                        </div>

                        <div class="group">
                            <label for="endtTime">End Tine</label>
                            <input type="time" name="endTime" min="00:00" max="23:99" required>
                        </div>

                        <div class="group">
                            <label for="description">Description</label>
                            <input type="text" name="description">
                        </div>
                </div>

                <div class="button-add">
                    <button type="submit" class="btn_css">Create new event</button>
                </div>
                </form>
            </div>
        </div>
    </div>



    <footer>
        <p>- gastro calendar -</p>
    </footer>
</div>