<form action="/events" method="POST">
  <input type="text" name="name" required>
  <input type="date" name="date" required>
  <input type="time" name="startTime" min="00:00" max="23:99" required>
  <input type="time" name="endTime" min="00:00" max="23:99" required>
  <input type="text" name="description" required>
  <button type="submit">Submit</button>
</form>