<div class="container">
    <header>
        <ul class="nav-list flex">
            <li class="nav-left">
                <a href="/calendar" class="no-color-change">Calendar</a>
            </li>
            <div class="nav-right">
            </div>
        </ul>
    </header>

    <div class="cover-image">

        <div class="top-page-wrapper">
            <h1 class="top-page-name">{{title}}</h1>

            <h1 class="login-page-title">login</h1>
            <div class="form-part">
                <form action="/login" method="POST">
                    <div class="label-group">
                        <div class="loginlabl">
                            <label for="username">Username:</label>
                            <input type="text" name="username">
                        </div>
                        <div class="loginlabl">
                            <label for="password">Password:</label>
                            <input type="password" name="password">
                        </div>
                    </div>
                    {{#if message}}
                    <div class="error-message">{{ message }}</div>
                    {{/if}}

                    <div class="log_in_btn">
                        <input type="submit" value="Log In" class="login_btn_btn">
                    </div>
                </form>
            </div>


        </div>
        <h3 class="sing-up_btn_title">
            <div class="sign-up_btn"><a href="/signup">sign-up</a></div>
        </h3>
        <div class="sing_up_btn"></div>
    </div>