<div class="container">
  <header>
    <ul class="nav-list flex">
      <li class="nav-left">
        <a href="/calendar" class="no-color-change">Calendar</a>
      </li>
      <div class="nav-right">
      </div>
    </ul>
  </header>

  <div class="cover-image_sign_up">
    <div class="signup-page-wrapper">
      <h2 class="sign-page-title">Signup</h2>

      <form action="/signup" method="POST" id="form-container" class="signup_form">

        <div class="group">
          <label for="groupname">Calendar Group Name</label>
          <input id="groupname" type="text" name="groupname" placeholder="e.g. Möbel Olfe Bar">
        </div>
        <div class="group">
          <label for="name">Your Name</label>
          <input id="username" type="text" name="name" placeholder="e.g. Mononoke Chichiyaku">
        </div>
        <div class="group">
          <label for="username">Your username</label>
          <input id="username" type="text" name="username" placeholder="e.g. mononoke999">
        </div>
        <div class="group">
          <label for="password">Password</label>
          <input id="password" type="password" name="password" placeholder="Your password">
        </div>
        <div class="group">
          <label for="email">E-mail</label>
          <input id="email" type="email" name="email" placeholder="Your email address">
        </div>
        <div class="group">
          <label for="tel">TEL</label>
          <input id="tel" type="text" name="tel" placeholder="Your telephone number">
        </div>
<<<<<<< HEAD
        <button class="sign_up_btn sign_up_btn_s">Create account</button>
=======
        <button class="sign_up_btn">Create a calendar account</button>
>>>>>>> 12fac070919e62500835692991b31a1284414118
      </form>
      {{#if message}}
      <div class="error-message">{{ message }}</div>
      {{/if}}


      <p class="account-message">
        Do you already have a calendar account?
        <a href="/">Login</a>
      </p>



    </div>
  </div>