<div class="container">
  <header>
    <ul class="nav-list flex">
      <li class="nav-left">
        <a href="/calendar" class="no-color-change">Calendar</a>
      </li>
      <div class="nav-right">
      </div>
    </ul>
  </header>

  <div class="cover-image_sign_up">
    <div class="signup-page-wrapper">
      <h2 class="sign-page-title">Signup</h2>

      <form action="/signup" method="POST" id="form-container">

        <div class="group">
          <label for="name">Name</label>
          <input id="username" type="text" name="name" placeholder="JonSnow">
        </div>
        <div class="group">
          <label for="username">Username</label>
          <input id="username" type="text" name="username" placeholder="JonSnow123">
        </div>
        <div class="group">
          <label for="password">Password</label>
          <input id="password" type="password" name="password" placeholder="Your password">
        </div>
        <div class="group">
          <label for="groupname">Group Name</label>
          <input id="groupname" type="text" name="groupname" placeholder="Your groupname">
        </div>
        <div class="group">
          <label for="email">E-mail</label>
          <input id="email" type="email" name="email" placeholder="Your email">
        </div>
        <div class="group">
          <label for="tel">TEL</label>
          <input id="tel" type="text" name="tel" placeholder="Your tel">
        </div>
        <button class="sign_up_btn">Create account</button>
      </form>
      {{#if message}}
      <div class="error-message">{{ message }}</div>
      {{/if}}
  

      <p class="account-message">
        Do you already have an account?
        <a href="/">Login</a>
      </p>



    </div>
  </div>