<div class="container">
    <header>
        <ul class="nav-list flex">
            <li class="nav-left">
                <a href="/calendar" class="no-color-change">Calendar</a>
            </li>
            <div class="nav-right">
                <li class="nav-list-item"><a href="/users">Group</a></li>
                <li class="nav-list-item"><a href="/events">Event</a></li>
                <li class="nav-list-item"><a href="/profile">Profile</a></li>
            </div>
        </ul>
    </header>

    <div class="cover-image">

        <div class="top-page-wrapper">
    <h1 class="top-page-name">{{title}}</h1>

    <h1 class="login-page-title">login</h1>
    <div class="form-part">
        <form action="/login" method="POST">
            <div class="label-group">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" name="username">
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" name="password">
                </div>
            </div>
            {{#if message}}
            <div class="error-message">{{ message }}</div>
            {{/if}}
            <div class="login_btn_div">
                <input type="submit" value="Log In" class="login_btn">
            </div>
        </form>
    </div>

    <h3 class="sign-up_btn_title">
        <p>Do you want to have an account? <a href="/signup">Sign-up</a></p>
    </h3>

    </div>
    </div>

    <footer>
    <p>- gastro calendar -<p>
</footer>
</div>
