<header>

  <ul class="nav-list flex">
    <li>
      <a>Calendar</a>
    </li>
    <div class="nav-right">
      <li class="nav-list-item"><a>Group</a></li>
      <li class="nav-list-item"><a>Event</a></li>
      <li class="nav-list-item"><a>Profile</a></li>
    </div>
  </ul>

</header>

<h1 class="headline">
  <a>profile page</a>
</h1>