<div class="container">
  <header>
    <ul class="nav-list flex">
      <li class="nav-left">
        <a href="/calendar" class="no-color-change">Calendar</a>
      </li>
      <div class="nav-right">
        <li class="nav-list-item"><a href="/users">Group</a></li>
        <li class="nav-list-item"><a href="/events">Event</a></li>
        <li class="nav-list-item"><a href="/profile">Profile</a></li>
      </div>
    </ul>
  </header>

  <div class="member_page_background">
    <div class="new_member_wrapper">
      <div class="member_wrapper">
        <h1 class="headline-title">Add Member</h1>

        <div class="list_wrapper_form">
          <form action="/users" method="POST">

            <div class="group">
              <label for="name">Name</label>
              <input type="text" placeholder="Name" name="name" required>
            </div>

            <div class="group">
              <label for="username">User Name</label>
              <input type="text" placeholder="username" name="username" required>
            </div>

            <div class="group">
              <label for="email">E-mail</label>
              <input type="text" placeholder="email" name="email">
            </div>

            <div class="group">
              <label for="role">Role</label>
              <select id="role">
                <option value="bar">Bar</option>
                <option value="door">Door</option>
                <option value="clean">Clean</option>
                <option value="moderator">Moderator</option>
                <option value="other">Other</option>
              </select>
            </div>

            <div class="group">
              <label for="administration">Administration</label>
              <input type="text" placeholder="administration" name="administration">
            </div>
        </div>

        <div class="button-add">
          <button type="submit" class="btn_css">Add new member</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <footer>
    <p class="footer_white">- gastro calendar -<p></p>
  </footer>
</div>