<form action="/users" method="POST">
  <input type="text" placeholder="Name" name="name" required>
  <input type="text" placeholder="username" name="username" required>
  <input type="text" placeholder="email" name="email">
  <input type="text" placeholder="role" name="role" required>
  <input type="text" placeholder="administration" name="administration">
  <button type="submit">Add new member</button>
</form>