<form action="/users" method="POST">
  <input type="text" placeholder="Name" name="name" required>
  <input type="text" placeholder="username" name="username" required>
  <input type="text" placeholder="email" name="email">
  <select id="role">
    <option value="bar">Bar</option>
    <option value="door">Door</option>
    <option value="clean">Clean</option>
    <option value="moderator">Moderator</option>
    <option value="other">Other</option>
  </select>

  <input type="text" placeholder="administration" name="administration">
  <button type="submit">Add new member</button>
</form>