<form action="/users" method="PATCH">
  <input type="text" name="name" required>
  <input type="text" name="username" required>
  <input type="text" name="email">
  <input type="text" name="role" required>
  <input type="text" name="administration">
  <button type="submit">Modify Member Data</button>
</form>
